/*--------------------------------------------------------------
Project / Design / Content Based Breakpoints
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Imports
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/*--------------------------------------------------------------
Grid
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Border Box
--------------------------------------------------------------*/
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/*--------------------------------------------------------------
Container extend
--------------------------------------------------------------*/
.your-container-class-here, .promo-container, .your-wrapper-here .your-container-here { clear: both; max-width: 1200px; margin: 0 auto; }
.your-container-class-here section, .promo-container section, .your-wrapper-here .your-container-here section { padding-left: 10px; padding-right: 10px; display: inline-block; float: left; }

/*--------------------------------------------------------------
Grid Mixin
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Breakpoint Mixin
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Clearfix Extend
--------------------------------------------------------------*/
.your-container-class-here:after, .promo-container:after, .your-wrapper-here .your-container-here:after { content: ""; display: table; clear: both; }

/*--------------------------------------------------------------
Example semantic row
--------------------------------------------------------------*/
.your-container-class-here .classes { width: 60%; }
@media only screen and (min-width: 1000px) { .your-container-class-here .classes { width: 10%; } }
.your-container-class-here .can { width: 40%; }
@media only screen and (min-width: 1000px) { .your-container-class-here .can { width: 90%; } }
.your-container-class-here .be { width: 40%; }
@media only screen and (min-width: 1000px) { .your-container-class-here .be { width: 20%; } }
.your-container-class-here .responsive { width: 60%; }
@media only screen and (min-width: 1000px) { .your-container-class-here .responsive { width: 80%; } }
.your-container-class-here .and { width: 60%; }
@media only screen and (min-width: 1000px) { .your-container-class-here .and { width: 30%; } }
.your-container-class-here .semantic { width: 40%; }
@media only screen and (min-width: 1000px) { .your-container-class-here .semantic { width: 70%; } }
.your-container-class-here .very-class { width: 40%; }
@media only screen and (min-width: 1000px) { .your-container-class-here .very-class { width: 40%; } }
.your-container-class-here .much-wow { width: 60%; }
@media only screen and (min-width: 1000px) { .your-container-class-here .much-wow { width: 60%; } }
.your-container-class-here .so-responsive { width: 50%; }
@media only screen and (min-width: 1000px) { .your-container-class-here .so-responsive { width: 50%; } }
.your-container-class-here .such-semantic { width: 50%; }
@media only screen and (min-width: 1000px) { .your-container-class-here .such-semantic { width: 50%; } }
.your-container-class-here .many-options { width: 100%; }
.your-container-class-here .im-one-thid { width: 33.33%; }

/*--------------------------------------------------------------
promo examples
--------------------------------------------------------------*/
.promo-container .promo { width: 50%; }
@media only screen and (min-width: 1000px) { .promo-container .promo { width: 33.33%; } }
@media only screen and (min-width: 1200px) { .promo-container .promo { width: 16.66%; } }

/*--------------------------------------------------------------
example page layout
--------------------------------------------------------------*/
.your-wrapper-here { background: #f1f1f1; }
.your-wrapper-here .content-col { width: 100%; }
@media only screen and (min-width: 550px) { .your-wrapper-here .content-col { width: 60%; } }
@media only screen and (min-width: 1000px) { .your-wrapper-here .content-col { width: 75%; } }
.your-wrapper-here .sidebar { width: 100%; }
@media only screen and (min-width: 550px) { .your-wrapper-here .sidebar { width: 40%; } }
@media only screen and (min-width: 1000px) { .your-wrapper-here .sidebar { width: 25%; } }

/*--------------------------------------------------------------
styles just for the demo
--------------------------------------------------------------*/
p { background: #c5c5c5; color: #555; text-align: center; line-height: 40px; font-size: 14px; display: inline-block; width: 100%; }

.your-container-class-here section { margin-top: 10px; }

.promo-container { max-width: 1280px; }
.promo-container section { border: 1px solid #CCC; margin-top: 10px; }

.your-wrapper-here { margin-top: 10px; }

.your-container-here span { width: 100%; display: none; text-align: center; clear: both; font-size: 12px; line-height: 20px; color: #777; }

@media only screen and (max-width: 550px) { span.small { display: block; } }

@media only screen and (min-width: 550px) and (max-width: 1000px) { span.medium { display: block; } }

@media only screen and (min-width: 1000px) { span.large { display: block; } }
