/*--------------------------------------------------------------
Imports
--------------------------------------------------------------*/
@import "partials/reset";
@import "partials/minimal-grid";

/*--------------------------------------------------------------
Project sepecific / Design / Content Based Breakpoints to overwrite defaults
--------------------------------------------------------------*/
$breakpoint-small:  em(410);
$breakpoint-medium: em(800);
$breakpoint-large:  em(1200);
$breakpoint-xlarge: em(1600);

/*--------------------------------------------------------------
example page layout
--------------------------------------------------------------*/
.your-wrapper-here {
    background: #f1f1f1;

    .your-container-here {
    @extend %grid-container;
    }
    .content-col {
        @include grid(100);
        @include breakpoint(from-small) {
            @include grid(50);
        }
        @include breakpoint(from-medium) {
            @include grid(70);
        }
    }
    .sidebar {
        @include grid(100);
        @include breakpoint(from-small) {
            @include grid(50);
        }
        @include breakpoint(from-medium) {
            @include grid(30);
        }
    }
}

/*--------------------------------------------------------------
Example semantic row
--------------------------------------------------------------*/
.your-container-class-here {
    @extend %grid-container;

    .classes {
        @include grid(30);
        :after { content: "30%"; }
        @include breakpoint(from-small) {
            @include grid(20);
            :after { content: "20%"; }
        }
        @include breakpoint(from-medium) {
            @include grid(10);
            :after { content: "10%"; }
        }
    }

    .can {
        @include grid(70);
        :after { content: "70%"; }
        @include breakpoint(from-small) {
            @include grid(80);
            :after { content: "80%"; }
        }
        @include breakpoint(from-medium) {
            @include grid(90);
            :after { content: "90%"; }
        }
    }

    .be {
        @include grid(100);
        :after { content: "100%"; }
        @include breakpoint(from-medium) {
            @include grid(20);
            :after { content: "20%"; }
        }
    }
    .responsive {
        @include grid(100);
        :after { content: "100%"; }
        @include breakpoint(from-medium) {
            @include grid(80);
            :after { content: "80%"; }
        }
    }
    .and {
        @include grid(60);
        :after { content: "60%"; }
        @include breakpoint(from-medium) {
            @include grid(30);
            :after { content: "30%"; }
        }
    }
    .semantic {
        @include grid(40);
        :after { content: "40%"; }
        @include breakpoint(from-medium) {
            @include grid(70);
            :after { content: "70%"; }
        }
    }
    .very-class {
        @include grid(40);
        :after { content: "40%"; }
        @include breakpoint(from-medium) {
            @include grid(40);
            :after { content: "40%"; }
        }
    }
    .much-wow {
        @include grid(60);
        :after { content: "60%"; }
        @include breakpoint(from-medium) {
            @include grid(60);
            :after { content: "60%"; }
        }
    }
    .so-responsive {
        @include grid(50);
        :after { content: "50%"; }
        @include breakpoint(from-medium) {
            @include grid(50);
            :after { content: "50%"; }
        }
    }
    .such-semantic {
        @include grid(50);
        :after { content: "50%"; }
        @include breakpoint(from-medium) {
            @include grid(50);
            :after { content: "50%"; }
        }
    }
    .many-options {
        @include grid(100);
        :after { content: "100%"; }
    }

    .im-one-thid {
        @include grid(33);
        :after { content: "33%"; }
    }

    .im-15 {
         @include grid(15);
        :after { content: "15%"; }
    }
    .im-85 {
         @include grid(85);
        :after { content: "85%"; }
    }
    .im-25 {
         @include grid(25);
        :after { content: "25%"; }
    }
    .im-75 {
         @include grid(75);
        :after { content: "75%"; }
    }
    .im-35 {
         @include grid(35);
        :after { content: "35%"; }
    }
    .im-65 {
         @include grid(65);
        :after { content: "65%"; }
    }
    .im-45 {
         @include grid(45);
        :after { content: "45%"; }
    }
    .im-55 {
         @include grid(55);
        :after { content: "55%"; }
    }

}

/*--------------------------------------------------------------
promo examples
--------------------------------------------------------------*/
.promo-container {
    @extend %grid-container;
    .promo {
        @include grid(50);
        :after { content: "50%"; }
        @include breakpoint(from-medium) {
            @include grid(33);
            :after { content: "33.33%"; }
        }
        @include breakpoint(from-large) {
            @include grid(16);
            :after { content: "16.66%"; }
        }
    }
}


/*--------------------------------------------------------------
styles just for the demo
--------------------------------------------------------------*/
.title {
    font-size: 12px;
    text-align: center;
    width: 100%;
    line-height: 20px;
    margin-top: 10px;
}
.title:after {
    content: "mobile frist ";
    @include breakpoint(from-small) {
        content: "from small breakpoint";
    }
    @include breakpoint(from-medium) {
        content: "from medium breakpoint";
    }
    @include breakpoint(from-large) {
        content: "from large breakpoint";
    }
    @include breakpoint(from-xlarge) {
        content: "from xlarge breakpoint";
    }
}
p {
    background: #e5e5e5;
    color: #555;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    display: inline-block;
    width: 100%;
}

.your-container-class-here {
    section {
        margin-top:10px;
    }
}

.promo-container {
    max-width:1280px;
    section {
        border:1px solid #CCC;
        margin-top: 10px;
    }
}

.your-wrapper-here {
    margin-top: 10px;
}

.your-container-here span {
    width: 100%;
    display: none;
    text-align: center;
    clear: both;
    font-size: 12px;
    line-height: 20px;
    color: #777;
 }
