/*--------------------------------------------------------------
Project / Design / Content Based Breakpoints
--------------------------------------------------------------*/
$break-small: 550px;
$break-medium: 1000px;
$break-large: 1200px;
$minimal-grid-container-max-width:1200px;
$minimal-grid-gutter-width:20px;

/*--------------------------------------------------------------
Imports
--------------------------------------------------------------*/
@import "partials/reset";
@import "partials/minimal-grid";

/*--------------------------------------------------------------
Example semantic row
--------------------------------------------------------------*/
.your-container-class-here {
    @extend %grid-container;

    .classes {
        @include grid(60);
        @include breakpoint(from-medium) {
            @include grid(10);
        }
    }

    .can {
        @include grid(40);
        @include breakpoint(from-medium) {
            @include grid(90);
        }
    }

    .be {
        @include grid(40);
        @include breakpoint(from-medium) {
            @include grid(20);
        }
    }
    .responsive {
        @include grid(60);
        @include breakpoint(from-medium) {
            @include grid(80);
        }
    }
    .and {
        @include grid(60);
        @include breakpoint(from-medium) {
            @include grid(30);
        }
    }
    .semantic {
        @include grid(40);
        @include breakpoint(from-medium) {
            @include grid(70);
        }
    }
    .very-class {
        @include grid(40);
        @include breakpoint(from-medium) {
            @include grid(40);
        }
    }
    .much-wow {
        @include grid(60);
        @include breakpoint(from-medium) {
            @include grid(60);
        }
    }
    .so-responsive {
        @include grid(50);
        @include breakpoint(from-medium) {
            @include grid(50);
        }
    }
    .such-semantic {
        @include grid(50);
        @include breakpoint(from-medium) {
            @include grid(50);
        }
    }
    .many-options {
        @include grid(100);
    }
    .im-one-thid {
        @include grid(33);
    }

}

/*--------------------------------------------------------------
promo examples
--------------------------------------------------------------*/
.promo-container {
    @extend %grid-container;
    .promo {
        @include grid(50);
        @include breakpoint(from-medium) {
            @include grid(33);
        }
        @include breakpoint(from-large) {
            @include grid(16);
        }
    }
}
/*--------------------------------------------------------------
example page layout
--------------------------------------------------------------*/
.your-wrapper-here {
    background: #f1f1f1;

    .your-container-here {
      @extend %grid-container;
    }
    .content-col {
        @include grid(100);
        @include breakpoint(from-small) {
            @include grid(60);
        }
        @include breakpoint(from-medium) {
            @include grid(75);
        }
    }
    .sidebar {
        @include grid(100);
        @include breakpoint(from-small) {
            @include grid(40);
        }
        @include breakpoint(from-medium) {
            @include grid(25);
        }
    }
}

/*--------------------------------------------------------------
styles just for the demo
--------------------------------------------------------------*/
p {
    background: #c5c5c5;
    color: #555;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    display: inline-block;
    width: 100%;
}

.your-container-class-here {
    section {
        margin-top:10px;
    }
}

.promo-container {
    max-width:1280px;
    section {
        border:1px solid #CCC;
        margin-top: 10px;
    }
}

.your-wrapper-here {
    margin-top: 10px;
}

.your-container-here span {
    width: 100%;
    display: none;
    text-align: center;
    clear: both;
    font-size: 12px;
    line-height: 20px;
    color: #777;
 }

span.small {
    @include breakpoint(to-small) {
    display: block;
    }
}
span.medium {
    @include breakpoint(from-small-to-medium) {
    display: block;
    }
}
span.large {
    @include breakpoint(from-medium) {
    display: block;
    }
}
