/*--------------------------------------------------------------
Variables
--------------------------------------------------------------*/
$break-small: 550px;
$break-medium: 1000px;
$break-large: 1200px;

/*--------------------------------------------------------------
Breakpoints
--------------------------------------------------------------*/
@mixin breakpoint($point) {
    @if $point == s {
        @media (max-width: 550px) { @content; }
    }
    @else if $point == m {
        @media (min-width: 550px) { @content; }
    }
    @else if $point == l {
        @media (min-width: 1200px) { @content; }
    }
}

/*--------------------------------------------------------------
Clearfix
--------------------------------------------------------------*/
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
