/*--------------------------------------------------------------
Grid Container
eg: @extend %grid-container;
--------------------------------------------------------------*/
%grid-container {
    clear: both;
    max-width: $minimal-grid-container-max-width;
    margin: 0 auto;
    @extend %clearfix;
}

/*--------------------------------------------------------------
Grid Block
--------------------------------------------------------------*/
%grid-block {
    padding-left:($minimal-grid-gutter-width/2);
    padding-right:($minimal-grid-gutter-width/2);
    display: inline-block;
    float: left;
}

/*--------------------------------------------------------------
Grid Mixin
eg: @include grid(33); for 33.33%
--------------------------------------------------------------*/
@mixin grid($percentage) {
    @if $percentage == 10 { width:10%; }
    @else if $percentage == 15 { width:15%;}
    @else if $percentage == 16 { width:16.66%;}
    @else if $percentage == 20 { width:20%;}
    @else if $percentage == 25 { width:25%;}
    @else if $percentage == 30 { width:30%;}
    @else if $percentage == 33 {width:33.33%;}
    @else if $percentage == 35 { width:35%;}
    @else if $percentage == 40 {width:40%;}
    @else if $percentage == 45 {width:45%;}
    @else if $percentage == 50 {width:50%;}
    @else if $percentage == 55 {width:55%;}
    @else if $percentage == 60 {width:60%;}
    @else if $percentage == 66 {width:66.66%;}
    @else if $percentage == 70 {width:70%;}
    @else if $percentage == 75 {width:75%;}
    @else if $percentage == 80 {width:80%;}
    @else if $percentage == 85 {width:85%;}
    @else if $percentage == 90 {width:90%;}
    @else if $percentage == 95 {width:95%;}
    @else if $percentage == 100 {width:100%;}
    @else {width:$percentage*1%;}
    @extend %grid-block;
}

/*--------------------------------------------------------------
Breakpoint Mixin
--------------------------------------------------------------*/
@mixin breakpoint($point) {
    @if $point == to-small {
        @media only screen and (max-width: $break-small) { @content; }
    }
    @else if $point == from-small {
        @media only screen and  (min-width: $break-small) { @content; }
    }
    @else if $point == from-small-to-medium {
        @media only screen and  (min-width: $break-small) and (max-width: $break-medium) { @content; }
    }
    @else if $point == from-medium {
        @media only screen and  (min-width: $break-medium) { @content; }
    }
    @else if $point == from-medium-to-large {
        @media only screen and  (min-width: $break-medium) and (max-width: $break-large) { @content; }
    }
    @else if $point == from-large {
        @media only screen and (min-width: $break-large) { @content; }
    }
}

/*--------------------------------------------------------------
Clearfix Extend
--------------------------------------------------------------*/
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
