/*--------------------------------------------------------------
Import
--------------------------------------------------------------*/
@import "partials/reset";
@import "partials/base";
@import "partials/grid";

/*--------------------------------------------------------------
highlight grid
--------------------------------------------------------------*/
p {
        background: #c5c5c5;
        color: #222;
        text-align: center;
        line-height: 40px;
    }

/*--------------------------------------------------------------
Example semantic row
--------------------------------------------------------------*/
.example-grid-row {

    @extend %grid-container;
    section {
        margin:5px 0;
    }

    .classes {
        @include grid(60);
        @include breakpoint(m) {
            @include grid(10);
        }
    }

    .can {
        @include grid(40);
        @include breakpoint(m) {
            @include grid(90);
        }
    }

    .be {
        @include grid(40);
        @include breakpoint(m) {
            @include grid(20);
        }
    }
    .responsive {
        @include grid(60);
        @include breakpoint(m) {
            @include grid(80);
        }
    }
    .and {
        @include grid(60);
        @include breakpoint(m) {
            @include grid(30);
        }
    }
    .semantic {
        @include grid(40);
        @include breakpoint(m) {
            @include grid(70);
        }
    }
    .very-class {
        @include grid(40);
        @include breakpoint(m) {
            @include grid(40);
        }
    }
    .much-wow {
        @include grid(60);
        @include breakpoint(m) {
            @include grid(60);
        }
    }
    .so-responsive {
        @include grid(50);
        @include breakpoint(m) {
            @include grid(50);
        }
    }
    .such-semantic {
        @include grid(50);
        @include breakpoint(m) {
            @include grid(50);
        }
    }
    .many-options {
        @include grid(100);
        @include breakpoint(s) {
            padding:0;
        }
        @include breakpoint(m) {
            @include grid(100);

        }
    }
}
/*--------------------------------------------------------------
sematnic-row-name-here
--------------------------------------------------------------*/
.sematnic-row-name-here {
    background: #f1f1f1;
    margin: 20px 0;

    .container {
      background: #CCC;
      @extend %grid-container;
      max-width: 1100px;
    }
    .content-col {
        @include grid(100);
        border:1px solid #CCC;
        @include breakpoint(m) {
            @include grid(60);
        }
        @include breakpoint(l) {
            @include grid(70);
        }
    }
    .sidebar {
        @include grid(100);
        border:1px solid #CCC;
        @include breakpoint(m) {
            @include grid(40);
        }
        @include breakpoint(l) {
            @include grid(30);
        }
    }
}

/*--------------------------------------------------------------
common-block-row
--------------------------------------------------------------*/
.common-block-row {
    @extend %clearfix;
    padding:5px 0;
    clear: both;

    .container {
        @extend %grid-container;
        max-width: 1280px;
        section {
            margin:5px 0;
            border:1px solid #CCC;
        }
    }
    .promo {
        @include grid(50);
        margin: 5px 0;
        @include breakpoint(m) {
            @include grid(33);
        }
        @include breakpoint(l) {
            @include grid(16);
        }
    }
 }
